body {
    text-align: center;
    background-color: plum;
}

h1 {
    font-variant: small-caps;
    font-size: 45px;
    font-weight: 200;
    text-shadow: 2px 2px #F8BBDO;
}

h2 {
    font-family: cinzel;
    font-size: 30px;
    font-weight: 100;
}

p {
    font-size: 23px;
    font-family: bookman old style;
}

hr {
    height: 10px;
    background-color: black;
}

.menu {
    list-style: none;
    top: 10px;
    right: 30px;
    cursor: pointer;
    float: top;
    color: black;
    z-index: auto;
}

.links {
    float: left;
    color: antiquewhite;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: cursive;
    font-size: 25px;
}


.about {
    background-color: cyan;
}

.hobby {
    background-color: lawngreen;
}

#pic1 {
    border-radius: 50%;
    height: 200px;
    width: 140px;
}

#pic2 {
    border-radius: 50%;
    height: 200px;
    width: 300px;
}